h2{
    background-color: tomato;
    color: aquamarine;
    padding: 20px;
    text-align: center;
}
section{
    background-color: bisque;
}
h3{
    text-align: center;
    color: blueviolet;
}
p{
    color: rgb(0, 113, 128);
}